server:
  port: 3000

db:
  type: "postgres"
  url: "postgres://user:password@localhost:5432/database"
  synchronize: true
  migrationsRun: false

authorizer:
  issuer: "https://authorizer-domain.com"
  clientId: "authorizer-client-id"
  clientSecret: "authorizer-client-secret"
  redirectUrl: "http://localhost:3000/docs/oauth2-redirect.html"
  scopes:
    - openid
    - profile
    - email